@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-orange-50;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #dfd9cf;
  border-radius: 1px;
}

/* .desktop-nav {
  display: none;
}

.mobile-nav {
  display: block;
}

@media (min-width: 897px) {
  .desktop-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  } */

.page {
  background-color: rgb(255 247 237);
}
